// @forward '../../styles/variables';
.event {
  align-items: flex-start;
  display: flex;
  gap: 2rem;
  margin-block-end: 2rem;

  &__date {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-color);
    color: var(--white);
    padding: 3rem;
    gap: 0.5rem;
    border-left: 1rem solid var(--orange-web);
  }

  &__date_day {
    font-size: 4rem;
  }

  &__venue_name {
    font-size: 2rem;
    font-weight: bold;
  }

  &__venue_address {
    font-style: italic;
    margin-block-end: 1rem;
  }

  &__description {
    font-style: italic;
  }
}