// @forward '../../styles/variables';
.event {
  margin-block-end: 2rem;

  @media only screen and (min-width: 560px) {
    align-items: center;
    display: flex;
    gap: 2rem;
  }

  &__date {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    gap: 0.5rem;
    
    @media only screen and (min-width: 560px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px solid var(--dark-color);
      margin-bottom: 0.5rem;
      width: 10rem;
    }
    
  }

  &__date_day {
    @media only screen and (min-width: 560px) {
      font-size: 4rem;
    }
  }

  &__venue_name {
    font-size: 2rem;
    font-weight: bold;
  }

  &__venue_address {
    font-style: italic;
  }

  &__description {
    font-style: italic;
  }
}