@use 'mixins' as m;

.lite {
  font-weight: 100;
}

.italic {
  font-style: italic;
}

.full-bleed {
  // @include m.darkToLightGradient;
  text-align: center;
  width: 100%;
  grid-column: 1 / -1;
}

.image-right {
  margin: 0;
  padding: 2rem 0 0;
  text-align: center;
  width: 100%;

  figure {
    margin: 0;
  }

  img {
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  }

  @media screen and (min-width: 576px) {
    float: right;
    margin: 2rem 2rem;
    width: auto;
  }
}

.name-drop {
  font-style: italic;
  font-weight: bold;
}

.release {
  @media screen and (min-width: 576px) {
    display: grid;
    grid-template-columns: 25rem 1fr;
    gap: 2rem;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}